body{
	width: 100%;
	background-color: #0A8244;

}
.header{
	width: 960px;
	margin: 0 auto;


}
#logo{
	height: 150px;
	width: 150px;
}
.container{
	width: 510px;
	height: 510px;
	margin: 0 auto;
	border: solid black 10px;
}
.squares{
	width: 150px;
	height: 150px;
	float: left;
	border:solid black 10px;
}

.squares.x {
	background-image: url(x.png);
}

.squares.o {
	background-image: url(o.png);
}

h1.x{
	display: none;
	color: white;
	font-size: 2em;
}
h1.o{
	display: none;
	color: white;
	font-size: 2em;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.win{
	display: inline-block;
	animation:bounceIn 3s;
}
@keyframes bounceIn{
	0%{
		transform:scale(0);
		opacity: 0;
	}
	50%{
		transform:scale(2);
		opacity:1;

	}
	100%{
		transform: scale(1);
	}
}